$board_url: url('../assets/board.png')

form.sheet.grand-hotel
  background: unset
  backdrop-filter: unset
  -webkit-backdrop-filter: unset
  background-color: #fff
  font-family: 'Fachada-Regular'
  color: #000

  section.window-content
    padding-top: 0

  textarea
    color: #000
    
  input, select, select > option, textarea
    background: unset
    border: 0
    background-color: #fff
    font-size: var(--font-size-16)
    box-shadow: unset
    border-radius: 0

  select 
    option:hover, option:checked 
      background: #999 !important

  select[name="system.role"]
    margin-left: 5px

  input:focus, select:focus, textarea
    outline: none

  input[type=text], select, textarea
    border-bottom: 1px solid #000
  
  input[type=radio]:checked
    --checkbox-background-color: #000
    --checkbox-checked-color: #fff
    --checkbox-checkmark-color: #000

  input[type=checkbox]:checked
    --checkbox-font-weight: unset
    --checkbox-background-color: #000
    --checkbox-checked-color: #fff
    --checkbox-checkmark-color: #000
  
  input[type="checkbox"]::before
    content: "\25C7";

  input[type="checkbox"]:checked::before
    content: "\25C8";
  

  .move-grey
    font-family: 'Myriad-Pro-Light SemiCondensed'

  .move-types
    line-height: 2em

  .move-caption, .hotel-caption
    font-weight: bold

  .hotel-caption-l 
    font-style: italic

  prose-mirror[name="system.examples"]
    min-height: 600px
  
  .result-caption 
    font-weight: bold
    font-size: var(--font-size-20)

  .actor-or-board
    background: $board_url no-repeat
    background-size: 100% 100%
    height: 237px
    text-align: center

    .actor-board-top
      padding-top: 20px

    .czt-column-no-flex
      display: inline
      float: left
    
    .actor-board-top-1
      width: 35%;
      padding-left: 87px;
    
    .actor-board-top-2
      width: 20%;
      padding-left: 42px;
      padding-top: 10px;

    .actor-board-top-3
      width: 38%;
      padding-left: 51px;
      padding-right: 42px;
      padding-top: 10px;
    
    .actor-board-middle
      padding-top: 10px

      .actor-board-middle-1
        padding-left: 8px
        font-weight: bold
        font-size: var(--font-size-48)
      
      .actor-board-middle-2
        padding-left: 49px
        padding-top: 16px
        width: 14%

      .actor-board-middle-3
        padding-left: 12px
        width: 16%
        padding-top: 16px
      
      .actor-board-middle-4
        padding-left: 25px
        width: 20%
        padding-top: 16px
      
      .actor-board-middle-5
        padding-left: 44px
        width: 13%
        padding-top: 16px

      .actor-board-middle-6
        padding-left: 0px
        width: 19%
        padding-top: 16px

      .actor-board-middle-7
        padding-left: 12px
        font-weight: bold
        font-size: var(--font-size-48)

    .actor-board-bottom
      padding-top: 9px

      .actor-board-bottom-1
        padding-left: 67px;
        width: 31%;

      .actor-board-bottom-2
        width: 33%
        padding-left: 26px
        padding-top: 5px

      .actor-board-bottom-3
        width: 27%
        padding-left: 23px

.actor-work
  line-height: 31px

.actor-sides
  .czt-column-no-flex
    display: inline
    float: left
  
  .actor-side-left
    width: 30%
    text-align: center
    margin: auto
  
  .actor-side-right
    padding-right: 5px
